html, body {
    width: auto; height: auto;
    margin: 0; padding: 0;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: "Montserrat",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}
/**** Header ****/
#header-el {
    margin: 10% auto 0 auto;
}
#header-el > h2 {
    width: 80%;
    margin: auto;
    font-size: 28px;
    font-weight: 300;
}
#header-el > img {
    width: 350px;
    height: auto;
    max-width: 60%;
    margin: 1% auto;
    display: block;
}
/**** Overlay & Modal ****/
#overlay {
    width: 100%; height: 110%;
    display: none;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
#modal {
    max-width: 260px;
    height: auto;
    margin: 0 auto;
    padding: 20px 30px 30px 30px;
    top: 15%;
    border: none;
    border-radius: 5px;
    position: relative;
    background-color: #FFF;
    -webkit-box-shadow: 10px 15px 30px 0 #5f5f5f;
    box-shadow: 10px 15px 30px 0 #5f5f5f;
}
#modal > h2 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(160deg, #E5A663 0%, #FAEE9E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#modal > p {
    font-weight: 300;
    margin-top: 0;
}
/**** Go Back Botton ****/
#go-back {
    margin: -5px -5px 0 0;
    text-align: right;
}
#go-back-img {
    width: 12px;
    height: auto;
    cursor: pointer;
    text-align: right;
}
/**** Inputs ****/
.inputs {
    width: 100%;
    margin: auto;
    outline: none;
}
.inputs i {
    position: absolute;
    padding: 15px 0 10px 0;
}
.fa {
    padding: 0;
}
.icon {
    width: 16px;
    height: auto;
    padding: 0;
    color: #E5A663;
    margin: auto 10px;
    text-align: center;
    position: absolute;
}
.input-field {
    width: 80%; height: auto;
    margin: 5px auto;
	padding: 10px 5px 10px 30px;
    border-radius: 5px;
    border: 1px solid #E5A663;
}
.input-field:focus {
    outline: none;
    border: 1px solid #E5A663;
    -webkit-box-shadow: 0 0 8px 0 #E5A663;
    box-shadow: 0 0 8px 0 #E5A663;
}
input[type="checkbox"] {
    accent-color: #E5A663;
}
#remember-me {
    font-size: small;
    font-weight: 300;
    margin: 0 auto 20px auto;
}
/**** Open/Close Buttons ****/
#close-modal,
#open-modal {
    color: #FFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(160deg, #f5e57e 0%, #E5A663 100%);
}
/**** Error Message ****/
#error-el {
    color:red;
    font-weight: 300;
    font-family: "Montserrat",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}